{
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "never",
  "overrides": [{ "files": ".prettierrc", "options": { "parser": "json" } }],
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-packagejson"],
  "importOrder": [
    "react",
    "^react-.*$",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^\\.(.*)(?<!\\.less)$",
    "(?<=\\.less)$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}